
@@include('../Shared/header.html', {
        "style": [
            "Public/assets/css/Pages/homepage.css"
        ]
})


<div class="bg-big bg-first">    
    <div class="sectionblanc"></div>
    <div class="sectionvert"></div>
    <div class="container">
        <!-- SECTION BANNER -->
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="wrap-heading">
                    <h1>Ervadh Lincoln</h1>
                    <h2>web development | front end | creative | innovative | management</h2>
                </div>
            </div>
        </div>
        <!-- SECTION BANNER END -->        
    </div>    
</div> <!-- bg-primary END-->

<div class="container" id="about">
    <!-- SECTION ABOUT -->
    <div class="row" >
        <div class="col-md-6 wow fadeInLeft">
            <div class="text-left wrap-heading-animate line grey-left">                
                <h3>Hello There.!</h3>
                <!-- <span class="wow fadeIn" data-wow-duration="3s">H</span>
                <span class="wow fadeIn" data-wow-duration="2s">E</span>  
                <span class="wow fadeIn" data-wow-duration="3s">L</span>
                <span class="wow fadeIn" data-wow-duration="2s">L</span>
                <span class="wow fadeIn" data-wow-duration="2.5s">O</span> -->
            </div>
            <div class="wrap-text">
                <p>I'm a Front-end developer from Jakarta, Indonesia. I love CSS and JavaScript which along with other acroynms gives me superpower to develop compelling front-end, intuitive yet minimalistic interfaces, and engaging designs. I work to the principle that Simple is beautiful, while carefully including the finest details and interactions.</p>
            </div>
        </div>
        <div class="col-md-6 wow fadeInRight">
            <div class="text-center wrap-img margin-top-80 shake">   
                <img src="Public/assets/images/about-bg.png" alt="">
            </div>
        </div>

    </div>
    <!-- SECTION ABOUT END -->
</div>

<!-- SECTION LATEST PROJECT -->
<!-- <section class="full" id="project">
    <div class="container-fluid margin-top-40">   
        <div class="row" >
            <div class="col-md-6 wow fadeInLeft">
                <div class="text-left wrap-heading-animate line grey-left">                
                    <h3>Latest Project</h3>
                </div>
                <div class="wrap-text">
                    <p>I'm a Front-end developer from jakarta, indonesia. I love CSS and JavaScript which along with other acroynms gives me superpower to develop compelling front-end, intuitive yet minimalistic interfaces, and engaging designs. I work to the principle that Simple is beautiful, while carefully including the finest details and interactions.</p>
                </div>
            </div>
            <div class="col-md-6 wow fadeInRight">
                <div class="text-center wrap-img margin-top-80">   
                    <img src="Public/assets/images/laptop-mockup.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section> -->

<!-- SECTION LATEST PROJECT END-->



<!-- SECTION PORTOFOLIO -->    
<section class="full" id="project">
    <div class="sectionvert"></div>
    <div class="sectionblanc"></div>
    <div class="container-fluid margin-top-40">   
    <!-- <div class="sectionblanc bottom"></div>
    <div class="sectionvert bottom"></div> -->
        <div class="text-center wrap-heading-animate line grey-center wow fadeInUp">                
            <h3>My Project</h3>
        </div>
        <div class="wrap-list-project">
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/baf.JPG" alt="img18"/>
                        <figcaption>
                            <h2><span>BAF</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="https://baf.id/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/sampoerna.JPG" alt="img18"/>
                        <figcaption>
                            <h2><span>Sampoerna</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="https://www.sampoernaacademy.sch.id/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/telkomsel.JPG" alt="img18"/>
                        <figcaption>
                            <h2><span>Telkomsel</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="https://www.telkomsel.com/en" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/class-mild.JPG" alt="img18"/>
                        <figcaption>
                            <h2>Class<span> Mild</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="http://clas-mild.com/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">   
                <div class="grid">           
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/telin.JPG" alt="img22"/>
                        <figcaption>
                            <h2><span>Tellin</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="https://www.telin.co.id/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div> 
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/bebeclub.JPG" alt="img18"/>
                        <figcaption>
                            <h2><span>Bebeclub</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="http://bebeclub.co.id/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/nutri.JPG" alt="img18"/>
                        <figcaption>
                            <h2><span>NutriClub</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="http://www.nutriclub.co.id/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/class-mild-sa.JPG" alt="img18"/>
                        <figcaption>
                            <h2>Simply<span> Authentic</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="https://www.simplyauthentic.id" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/lazone.JPG" alt="img18"/>
                        <figcaption>
                            <h2><span>Lazone</span></h2>
                            <p>My project in salt.co.id</p>
                            <a href="https://www.lazone.id" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/ofisi.JPG" alt="img18"/>
                        <figcaption>
                            <h2>Ofisi<span> Prima</span></h2>
                            <p>My project freelance</p>
                            <a href="http://ofisiprima.com/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/prima.JPG" alt="img18"/>
                        <figcaption>
                            <h2>Prima<span> Graphic</span></h2>
                            <p>My project freelance</p>
                            <a href="http://www.primagraphicdesign.com/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/ghp.JPG" alt="img18"/>
                        <figcaption>
                            <h2>GHP<span> Service</span></h2>
                            <p>My project freelance</p>
                            <a href="http://ghp-services.com/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 no-padding wow fadeInUp data-wow-delay="2s"">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="Public/assets/images/project/ykb.JPG" alt="img18"/>
                        <figcaption>
                            <h2>YKB<span> Wasiat</span></h2>
                            <p>My project freelance</p>
                            <a href="https://www.ykb-wasiat.org/wasiat/" target="_blank">View more</a>
                        </figcaption>           
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION PORTOFOLIO END -->


<!-- SECTION CONTACT -->
<section id="contact" class="bg-big bg-second contact">
    <div class="container ds-mt-100 sm-mt-50 ds-pb-130">
        <div class="row">
            <div class="col-md-12">                
                <div class="text-center wrap-heading-animate white line white-center wow fadeInUp">               
                    <h3>Get in touch</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="wrap-top-text text-left">
                    <h2 class="wow fadeInLeft white">CREATED IN <span class="">JAKARTA, INDONESIA </span></h2>
                    <h5 class="wow fadeInRight white">Let's make your website</h5>
                    <div class="info-wrap">
                        <p class="info info-home wow fadeInUp"><img src="Public/assets/images/icon-home.png" alt=""><span class="white">Jakarta, Indonesia</span></p>
                        <p class="info info-mail wow fadeInUp"><img src="Public/assets/images/icon-mail.png" alt=""><span class="white">ervadh@ymail.com</span></p>
                        <p class="info info-phone wow fadeInUp"><img src="Public/assets/images/icon-phone.png" alt=""><span class="white"><img src="Public/assets/images/icon-wa.png" alt=""> 0812-9862-3199</span></p>
                        <p class="info info-mail wow fadeInUp"><img src="Public/assets/images/icon-line.png" alt=""><span class="white">ervadh</span></p>
                        <p class="info info-skype wow fadeInUp"><img src="Public/assets/images/icon-skype.png" alt=""><span class="white">ervadhblanc</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-white">
                    <div class="wrap-top-text text-center white resume">
                        <h2>If you want see my resume</h2>
                        <a href="Public/assets/images/doc/my-cv.pdf" target="_blank" class="btn btn-transparent margin-top-10 wow flash animated" data-wow-duration="2s" data-wow-iteration="infinite" >CLICK HERE</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION CONTACT END -->
<!-- 
<div class="videocontainer">
    <video autoplay loop muted poster="screenshot.jpg" id="background">
        <source src="https://bufiles.blob.core.windows.net/co3615/video/explore.webm">
    </video>
</div> -->

@@include('../Shared/footer.html', {
        "script": [
            "Public/assets/js/Includes/homepage.js"
        ]
})

