
    </div>
    <!-- CONTAINER -->

    <!-- FOOTER -->
    <div id="site-footer">
      <div class="sectionvert"></div>
      <div class="sectionblanc"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center white">
            <p>CREATED BY <span>ERVADH</span> - &copy 2016-2017</p> 
            <p>ALL RIGHTS RESERVED</p> 
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    
  <!--   @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }
 -->
  </body>
</html>