<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MR.VADH</title>

    <!-- Bootstrap -->
    <link href="Public/assets/css/vendor.min.css" rel="stylesheet"> 
    <link href="Public/assets/css/plugins.min.css" rel="stylesheet"> 
    <link href="Public/assets/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="Public/assets/images/favicon.ico"/>
    


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <![endif]-->


  </head>
  <body>
  <!-- HEADER -->
  <div id="site-header">
    <nav id="bt-menu" class="bt-menu">
      <a href="#" class="bt-menu-trigger"><span>Menu</span></a>

      <section class="section section--menu" id="Horatio">
        <span class="link-copy"></span>
        <nav class="menu menu--horatio">
            <ul class="menu__list">
                <li class="menu__item"><a href="#about" class="menu__link">About</a></li>
                <li class="menu__item"><a href="#latest" class="menu__link">Latest Project</a></li>
                <li class="menu__item"><a href="#project" class="menu__link">Project</a></li>
                <li class="menu__item"><a href="#contact" class="menu__link">Get In Touch</a></li>
            </ul>
            <ul>
              <li>
                <a href="https://www.instagram.com/ervadh/" target="_blank" class="bt-icon icon-instagram">
                  <img src="Public/assets/images/instagram.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/u/0/117995214253226674956" target="_blank" class="bt-icon icon-gplus">
                  <img src="Public/assets/images/google-plus-symbol.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/ervadh.blanc" target="_blank" class="bt-icon icon-facebook">
                  <img src="Public/assets/images/facebook-logo.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://github.com/ervadh" target="_blank" class="bt-icon icon-github">
                  <img src="Public/assets/images/github-sign.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/erfikhar-fadhlurrahman-13a31889/" target="_blank" class="bt-icon icon-linkedin">
                  <img src="Public/assets/images/icon-linkedin.png" alt="">
                </a>
              </li>
            </ul>
        </nav>
      </section>
<!--       <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
    
    </nav>
  </div>
  <!-- HEADER -->


  <!-- CONTAINER -->
  <div id="site-container">